{% extends "base.html" %}

{% block content %}
<h2>Responsible Gaming</h2>
<div class="row">
    <div class="col-md-8">
        <h3>Guidelines for Safe Play</h3>
        <ul class="list-group">
            <li class="list-group-item">Set a budget and stick to it</li>
            <li class="list-group-item">Treat gaming as entertainment, not a way to make money</li>
            <li class="list-group-item">Take regular breaks from playing</li>
            <li class="list-group-item">Don't chase losses</li>
            <li class="list-group-item">Be aware of the time you spend gaming</li>
            <li class="list-group-item">Never gamble under the influence of alcohol or drugs</li>
            <li class="list-group-item">Balance gaming with other activities</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Resources</h3>
        <ul class="list-group">
            <li class="list-group-item"><a href="https://www.begambleaware.org/" target="_blank">BeGambleAware</a></li>
            <li class="list-group-item"><a href="https://www.gamblersanonymous.org/" target="_blank">Gamblers Anonymous</a></li>
            <li class="list-group-item"><a href="https://www.ncpgambling.org/" target="_blank">National Council on Problem Gambling</a></li>
        </ul>
    </div>
</div>
<div class="mt-4">
    <h3>Self-Assessment</h3>
    <p>If you're concerned about your gaming habits, ask yourself these questions:</p>
    <ol>
        <li>Do you spend more time or money on gaming than you intend to?</li>
        <li>Do you feel guilty or anxious about your gaming habits?</li>
        <li>Have you tried to cut back on gaming but couldn't?</li>
        <li>Has gaming negatively impacted your relationships or work?</li>
        <li>Do you think about gaming even when you're not playing?</li>
    </ol>
    <p>If you answered "yes" to any of these questions, consider reaching out to one of the resources listed above for support.</p>
</div>
{% endblock %}
